html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #99DBF5;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 200;
    height: 3rem;
}

.header .nameButton{
    background-color:#D0F5BE;
    border-radius: 0.8rem;
    text-decoration: none;
    height: 2rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    color: black;
}

.header .link *{
    text-decoration: none;
    padding: 0 5px;
    color: black;
}

.hero{
    height: 85vh;
    margin-top: 3rem;
    background-color: #9AC5F4;
}
.hero .container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 10%;
}
.container span{
    color: #FBFFDC;
}

img{
    width: 300px;
}
.logo{
    display: block;
    width: auto;
    height: 30px;
}

.waves {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #CED1B4;
}
.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 15vh;
}
.waves .shape-fill {
    fill: #9AC5F4;
}

.skills{
    height: 100vh;
    background-color: #CED1B4;
    margin-top: 15vh;
    padding-top: 15%;
}
.skills .container{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
.skills .skills-title{
    text-align: center;
}
.lang{
    border: 2px solid red;
    padding: 2px;
    margin: 2rem 0;
    /* flex-basis: 200px; */
}